In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mk\anaconda\lib\site-packages (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mk\anaconda\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\mk\anaconda\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\mk\anaconda\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mk\anaconda\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: cffi>=1.14 in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: sortedcontainers in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\mk\anaconda\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\mk\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mk\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\mk\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mk\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium

In [3]:
from selenium import webdriver

In [4]:
import pandas as pd

In [5]:
from selenium.webdriver.common.by import By

In [6]:
import warnings

In [7]:
warnings.filterwarnings("ignore")

In [8]:
import time

In [9]:
driver = webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [31]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'CompanyName':company_name,'ExperienceRequired':experience_required})
df

,Title,Location,CompanyName,ExperienceRequired
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,HCL hiring For GCP Data Analyst,"Bangalore/ Bengaluru, Karnataka, Hyderabad/ Se...",HCLTech,5-10 Yrs
3,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
4,"Data Analyst, RSO","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Pluralsight,1-4 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Boomi Software,1-5 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
8,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs

In [37]:
#Ans-2
driver.get("https://www.naukri.com/")

In [38]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [41]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [42]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [43]:
job_title=[]
job_location=[]
company_name=[]

In [44]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [45]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'CompanyName':company_name})
df

,Title,Location,CompanyName
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos
3,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos
4,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
5,Data Scientist Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Pluralsight
6,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Tredence
7,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",IBS Software Services
8,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics

In [50]:
#Ans-3
driver.get("https://www.naukri.com/")

In [51]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [52]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [53]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [54]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p/span[1]")
location.click()

In [55]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [56]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [57]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'CompanyName':company_name,'ExperienceRequired':experience_required})
df

,Title,Location,CompanyName,ExperienceRequired
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
7,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
8,Data Scientist,Noida,"SquadRun, Inc",1-4 Yrs
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner,2-4 Yrs

In [58]:
#Ans-4
driver.get("https://www.flipkart.com/")

In [60]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [61]:

submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

In [105]:
name=[]
brand=[]
price=[]
size=[]

In [106]:
while(len(name) < 100):
    nametags=driver.find_elements(By.CLASS_NAME,"_2B099V")
    for i in nametags:
        if(len(name) == 100):
            break
        details=i.text
        name.append(details.split('\n')[0])
        brand.append((details.split('\n')[1]).split('\n')[0])
    if(len(name) < 100):
        nextclick=driver.find_element(By.CLASS_NAME,"ge-49M")
        nextclick.click()

In [107]:
import pandas as pd
df=pd.DataFrame({'Product_Name':name,'Brand':brand})
df

     Product_Name                                              Brand
0     john jacobs     Polarized, UV Protection Round Sunglasses (48)
1   VINCENT CHASE             UV Protection Wayfarer Sunglasses (59)
2            SRPM             UV Protection Wayfarer Sunglasses (50)
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...
..            ...                                                ...
95     Cool enter            UV Protection Spectacle Sunglasses (15)
96  VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)
97    john jacobs  Polarized, UV Protection Wayfarer Sunglasses (49)
98           Shiv   Gradient, UV Protection Wayfarer Sunglasses (50)
99      METRONAUT                             UV Protection Sunglass

[100 rows x 2 columns]